* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #7c7c7e; */
}

body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.48);
}
.header2{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.houses{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(72, 56, 56, 0.892);
}

.register_background{
    background-color: #8f8cf1;
    height: 400px;
    width: 380px;
    position: absolute;
    top: 17%;
    left: 37.8%;
    text-align: center;
    padding-top: 2%;
}

.register_text{
    font-size: 28pt;
}

.register_input{
    height: 40px;
    width: 50px;
    padding: 20px;
    padding-left: 28%;
}

.create_acc_btn{
    position: absolute;
    top: 90%;
    left: 45%;
}
.register_to_login_btn{
    position: absolute;
    top: 80%;
    left: 23%;
}
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #7abecc !important;
}
.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
    
}

.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
}
.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}