{% extends "base_index.html" %}
{% block content %}
    <div>
        <div class='house'>
            <p>Properties</p>
            {% for property in places %}
                <p>------------------------</p>
                <p>{{ property.user_props.name }}</p>
                <p>{{ property.price }}</p>
                <p>{{ property.address }}</p>
                <p>{{ property.city }}</p>
                <p>{{ property.zip_code }}</p>
                <p>{{ property.size }}</p>
                <p>{{ property.available }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
