{% extends "base_index.html" %}
{% load static %}
{% block content %}
    <header class="header">
        <p>Title: LetsStay</p>
        <header class="header2">
            <p>search/filter bar</p>
        </header>
    </header>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                {% if account is not None%}
                    <table>
                        <td>
                            <img src="{% static "images/fisher.png" %}" alt="">
                        </td>
                        <td>
                                <div class="userscard">
                                <h5 class="card-title">{{ account.name}}</h5>
                                <p class="card-text">{{ account.phone_number }}</p>
                                <p class="card-text">{{ account.email }}</p>
                                <p class="card-text">{{ account. }}</p>
                                </div>
                        </td>
                        
                    </table>
                        
                {% else %}
                    <p>Not Signed In</p>
                {% endif %}
            </div>
        </div>
        <form method='POST' action=''>
        {% csrf_token %}
        {% for object in places %}
            <p> {{account.name}} </p>
            <p> {{object.price}} </p>
            <p> {{object.size}} </p>
            <p> {{object.address}} </p>
            <p> {{object.city}} </p>
            <p> {{object.zip_code}} </p>
            <button type='submit' name='delete_property' value='{{ object.id }}'>delete</button>
        {% endfor %}
        </form
    </div>
{% endblock content %}
