{% extends "base_index.html" %}
{% block content %}
    <header class="header">
        <p>Title: LetsStay</p>
        <header class="header2">
            <p>search/filter bar</p>
        </header>
    </header>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ request.name }}</h5>
                {% comment %} <p class="card-text">{{ account.email }}</p> {% endcomment %}
            </div>
        </div>
    </div>
{% endblock content %}
