{% extends "base_index.html" %}
{% block content %}
    <header class="header">
        <p>Title: LetsStay</p>
        <header class="header2">
            <p>search/filter bar</p>
        </header>
    </header>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                {% if account %}
                    <div>
                        <h5 class="card-title">{{ request.user }}</h5>
                        <p class="card-text">{{ request.number }}</p>
                        <p class="card-text">{{ request.email }}</p>
                        <p class="card-text">{{ request. }}</p>
                    </div>
                {% else %}
                    <p>Not Signed In</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
